.footer {
  background-color: $color-5;
  height: 75px;
  .footer-text {
    font-size: 1.3em;
    font-family: $semi-bold-font;
    line-height: 1.2;
    color: $color-1;
    text-align: left;
    margin-top: 25px;
  }
  .copyright {
    text-align: right;
  }
}

