.gallery {
  background-color: $color-4;
  padding-bottom: 230px;
  @media #{$bootstrap-xs} {
    padding-bottom: 50px;
  }
  @media #{$bootstrap-sm} {
    padding-bottom: 50px;
  }
  @media #{$bootstrap-md} {
    padding-bottom: 230px;
  }
  .image-gallery {
    width: 33%;
    margin-bottom: 4px;
    padding: 1%;
    @media #{$bootstrap-xs} {
      width: 49%;
    }
    @media #{$bootstrap-sm} {
      width: 49%;
    }
    @media #{$bootstrap-md} {
      width: 33%;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .new-padding {
    padding: 5px;
  }
  @media (max-width: 992px) {
    div#lightgallery a:nth-child(odd) img {
      padding-left: 7%;
    }
    div#lightgallery a:nth-child(even) img {
      padding-right: 7%;
    }
  }
}

.dop-line {
  background-color: #ebebeb;
  text-align: center;
  .triangle {
    margin-top: -1px;
    margin-bottom: 15px;
  }
}

.header-text-g {
  font-family: $bold-font;
  font-size: 3em;
  line-height: 1.2;
  color: $color-3;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
  @media #{$bootstrap-xs} {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
