.main-screen {
  background: url('../img/main-photo.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  .mobile-logo {
    margin: 80px auto 0;
  }
  .header-text {

    font-family: $ex-font;
    color: $color-1;
    line-height: 1.2;
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 7vh;
    @media #{$bootstrap-xs} {
      font-size: 1.8em;
      margin-top: 10vh;
    }
    @media #{$bootstrap-sm} {
      font-size: 3em;
      margin-top: 10vh;
    }
    @media #{$bootstrap-md} {
      margin-top: 30vh;
    }
    @media #{$bootstrap-lg} {
      font-size: 3.750em;
    }
    @media (max-width: 550px) {
      font-size: 1.2em;
      margin-top: 10px;
    }
  }
  .block-information {
    text-align: center;
    @media #{$bootstrap-xs} {
      float: left;
      margin-bottom: 15px;
    }
    @media #{$bootstrap-sm} {
      float: left;
      margin-bottom: 15px;
    }
    @media #{$bootstrap-md} {
      float: none;
      margin-bottom: 0;
    }
    .body-text {
      font-size: 1.5em;
      font-family: $light-font;
      color: $color-1;
      line-height: 1.2;
      @media #{$bootstrap-xs} {
        float: left;
        margin-top: 20px;
      }
      @media #{$bootstrap-sm} {
        float: left;
        margin-top: 20px;
      }
      @media #{$bootstrap-md} {
        float: none;
        margin-top: 0;
      }
      @media (max-width: 550px) {
        margin-top: 10px;
        font-size: 1em;
      }
    }
    .dot {
      margin-top: 75px;
    }
    img {
      @media #{$bootstrap-xs} {
        float: left;
        margin-right: 10px;
      }
      @media #{$bootstrap-sm} {
        float: left;
        margin-right: 10px;
      }
      @media #{$bootstrap-md} {
        float: none;
      }
      @media (max-width: 550px) {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.col-xs-c-1 {
  width: 9.09%;
  position: relative;
  min-height: 1px;
  float: left;
}
.col-xs-c-3 {
  position: relative;
  min-height: 1px;
  float: left;
  @media #{$bootstrap-xs} {
    width: auto;
  }
  @media #{$bootstrap-sm} {
    width: auto;
  }
  @media #{$bootstrap-md} {
    width: 27.27%;
  }
}

.block-size {
  min-height: 100px;
  position: relative;
  margin: 0 auto;
  @media #{$bootstrap-xs} {
    width: 410px;
  }
  @media #{$bootstrap-sm} {
    width: 410px;
  }
  @media #{$bootstrap-md} {
    width: 75%;
  }
  @media (max-width: 550px) {
    width: 280px
  }
}
.btn-main {
  width: 422px;
  height: 67px;
  font-family: $bold-font;
  font-size: 1.5em;
  margin-top: 10vh;
  padding-top: 3px;
  @media (max-width: 550px) {
    width: 60%;
    height: 50px;
    border-radius: 5px;
    font-size: 1em;
  }
}
.btn-main-mobile {
  font-size: 1.1em;
  margin: 15px auto 0;

}
.btn-red {
  border-radius: 33px;
  background-color: rgb(223, 109, 109);
  box-shadow: inset 0px -3px 7px 0px rgba(192, 83, 83, 0.75);
  color: $color-1;
  line-height: 1.2;
  outline: none;
  border: none;
  &:hover {
    background-color: rgb(196, 94, 94);
    box-shadow: inset 0px -3px 7px 0px rgba(192, 83, 83, 0.75);
    outline: none;
    color: $color-1;
  }
  &:focus:active {
    background-color: rgb(196, 94, 94);
    box-shadow: inset 0px -3px 7px 0px rgba(192, 83, 83, 0.75);
    outline: none;
    color: $color-1;
  }
  &:focus {
    background-color: rgb(196, 94, 94);
    box-shadow: inset 0px -3px 7px 0px rgba(192, 83, 83, 0.75);
    outline: none;
    color: $color-1;
  }
}



