.navbar-trinity {
  border-radius: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  margin-bottom: 0;
  height: 103px;
  width: 100%;
  z-index: 777;

  .navbar-nav li {
    a {
      font-size: 1.5em;
      font-family: $semi-bold-font;
      color: $color-1;
      padding: 40px 4vh;
      @media (max-width: 1720px) {
        padding: 40px 2vh;
      }
      @media (max-width: 1480px) {
        padding: 40px 1vh;
        font-size: 1.3em;
      }
      @media (max-width: 1200px) {
        padding: 40px 0.9vh;
        font-size: 1.1em;
      }

      &:hover {
        color: $color-2;
      }
      &:active:focus {
        color: $color-1;
      }
      &:focus {
        color: $color-1;
      }
    }
    .phone-number {
      margin-bottom: 0;
      font-size: 1.875em;
      font-family: $semi-bold-font;
      color: $color-1;
      padding: 30px 40px;
      @media (max-width: 1480px) {
        padding: 35px 1vh;
        font-size: 1.5em;

      }
      @media (max-width: 1200px) {
        padding: 37px 0.7vh;
        font-size: 1.2em;
      }
    }
    .logo-block {
      padding: 0 40px 0 0;
    }
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);

  .menu-btn {
    width: 100px;
    padding: 10px;
    margin: 15px 0 15px 20px;
    background: transparent;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    .butter {
      border: 1px solid $color-1;
      border-radius: 2px;
      width: 25px;
      height: 23px;
      display: inline-block;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .mobile-phone {
    position: absolute;
    right: 30px;
    top: 26px;
    span {
      font-family: $bold-font;
      font-size: 1em;
      color: $color-1;
    }
  }
}

.pushy-left {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}








